  @import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .header {
    width: 700px;
    height: 25px;
    background-color: rgb(17, 17, 17);
    display: flex;
    gap: 50px;
    justify-content: center;
  }

  .header button {
    background-color: rgb(17, 17, 17);
    border: none;
    color: white;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    transition: 0.5s;
  }

  .header button.active {
    background-color: white;
    color: black;
  }

  .header button.reset {
    transition: 0s;
  }
  
  .header button.reset:active {
    background-color: white;
    color: black;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  #board-container {
    box-shadow: 0px 0px 25px rgb(226, 226, 226);
    padding: 20px;
    width: 340px;
    border-radius: 25px;
  }

  #board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    background-color: rgb(156, 156, 156);
    font-size: 3rem;
  }

  .space {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .space.colored {
    background-color: rgb(165, 228, 165);
  }

  .space:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
  }

  .space.colored:hover {
    background-color: rgb(165, 228, 165);
  }

  .current-turn {
    font-size: 1.2rem;
    font-family: 'Moulpali', cursive;
  }